DISCORD_BOT_TOKEN=
ADMIN_ROLE_IDS=
WELCOME_ROLE_ID=1461496253245423841
TEBEX_PURCHASE_CHANNEL_ID=
PRESENCE_CLIENT_ROLE_ID=1461496253245423843

TEBEX_PUBLIC_TOKEN=
TEBEX_PRIVATE_KEY=
TEBEX_PLUGIN_SECRET=
TEBEX_WEBHOOK_SECRET=
TEBEX_WEBHOOK_PATH=/webhooks/tebex


# Optional when using API checkout flow
TEBEX_COMPLETE_URL=
TEBEX_CANCEL_URL=

# JSON map: package_id -> role_id
# Example: {"7330019":"987654321098765432"}
TEBEX_PACKAGE_ROLE_MAP={"7330019":"SEU_ROLE_ID_DISCORD"}
